@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

.top-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: gray;
    padding: 10px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        color: white;
        font-family: 'Noto Sans', sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: rgb(0, 110, 255);
        }

        img {
            width: 60px;
            height: 60px;
            margin-right: 10px;

            border-radius: 20px;
        }
    }

    .logout {
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        font-family: 'Noto Sans', sans-serif;
        font-size: 20px;
        font-weight: normal;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 80px;
        width: 80px;

        img {
            width: 30px;
            height: 30px;

            border-radius: 0px;
            margin: 0px;
        }
    }
}

.bottom-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkgray;
    padding: 10px;
    height: calc(100vh - 80px);

    a {
        height: 50px;
        width: 100px;
        border: 2px solid rgb(0, 110, 255);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        color: white;
        font-family: 'Noto Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        margin: 10px;

        &:hover {
            background-color: rgb(75, 152, 253);
        }
    }
}

.signup,
.signin {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    form {
        color: rgb(0, 110, 255);
        font-family: 'Noto Sans', sans-serif;
        font-size: 30px;
        font-weight: bold;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid rgb(75, 152, 253);
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;

        label {
            margin-top: 5px;
            margin-bottom: 2px;
            color: white;
            font-weight: normal;
            font-size: 24px;
        }

        input[type="text"],
        input[type="password"] {
            border: 2px solid rgb(0, 110, 255);
            height: 35px;
            border-radius: 5px;
            padding: 0px 5px;
            width: 200px;
        }

        input[type="submit"] {
            height: 50px;
            width: 100px;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-family: 'Noto Sans', sans-serif;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            background-color: darkgray;
            border: 2px solid rgb(0, 110, 255);
            border-radius: 5px;
            margin-top: 20px;

            &:hover {
                background-color: rgb(75, 152, 253);
            }
        }
    }
}

#films {
    display: flex;
    flex-direction: row;

    .film-img {
        width: 200px;
        height: 290px;
    }
}