@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: gray;
  padding: 10px;
}

.top-panel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

.top-panel a:hover {
  color: #006eff;
}

.top-panel a img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 20px;
}

.top-panel .logout {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  width: 80px;
}

.top-panel .logout img {
  width: 30px;
  height: 30px;
  border-radius: 0px;
  margin: 0px;
}

.bottom-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: darkgray;
  padding: 10px;
  height: calc(100vh - 80px);
}

.bottom-panel a {
  height: 50px;
  width: 100px;
  border: 2px solid #006eff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
}

.bottom-panel a:hover {
  background-color: #4b98fd;
}

.signup,
.signin {
  font-family: 'Noto Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.signup form,
.signin form {
  color: #006eff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #4b98fd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.signup form label,
.signin form label {
  margin-top: 5px;
  margin-bottom: 2px;
  color: white;
  font-weight: normal;
  font-size: 24px;
}

.signup form input[type="text"],
.signup form input[type="password"],
.signin form input[type="text"],
.signin form input[type="password"] {
  border: 2px solid #006eff;
  height: 35px;
  border-radius: 5px;
  padding: 0px 5px;
  width: 200px;
}

.signup form input[type="submit"],
.signin form input[type="submit"] {
  height: 50px;
  width: 100px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: darkgray;
  border: 2px solid #006eff;
  border-radius: 5px;
  margin-top: 20px;
}

.signup form input[type="submit"]:hover,
.signin form input[type="submit"]:hover {
  background-color: #4b98fd;
}

#films {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#films .film-img {
  width: 200px;
  height: 290px;
}
/*# sourceMappingURL=style.css.map */